body {
	background: linear-gradient(to right, #FC5C7D 0%, #6A82FB 100%);
	
}
.jumbotron {
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	text-align: center;
}
h3 {
	color: #fff;
	text-align: center;
	margin: 40px 0;
}
label {
	color: #fff;
}
a {
	color: #fff;
	margin:0 20px;
}
a:hover {
	color: #000
}
input[type="submit" i] {
	background: none;
	border: 2px solid white;
	color: #fff;
}
